.icon {
  height: 15px;
  width: 15px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #72757c;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
